{% extends "base.html" %}
{% import "includes/macros.html" as m %}

{% set display_label = data.display_label or data.label %}
{% block title %}{{ display_label }} - Threat Model{% endblock %}

{% block content %}
<h1>Property: {{ display_label }}</h1>

<h2>Threats requiring this property</h2>
{% if data.requiring_threats %}
<ul class="prop-list">
    {% for tid, threat in data.requiring_threats %}
    {% set tokens = threat.mapping.requirements_for_prop(prop) %}
    <li>
        {{ m.threat_link(tid, threat) }}
        {% if tokens and tokens != [prop] %}<code class="prop-token">{{ tokens | join(', ') }}</code>{% endif %}
        {{ m.status_badge(threat.status) }}
    </li>
    {% endfor %}
</ul>
{% else %}
<p><em>None.</em></p>
{% endif %}

<p><a href="index.html">Back to Summary</a></p>
{% endblock %}
